@font-face {
    font-family: Qualy;
    src: url(./assets/Fonts/Qualy.ttf);
}

@font-face {
    font-family: Modern;
    src: url(./assets/Fonts/modern.ttf);
}
@font-face {
    font-family: Babel;
    src: url(./assets/Fonts/BabelSans.ttf);
}

html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    background: #1f1135;
}
body{
    /* height: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav{
    display: flex;
    height: 5rem;
    width: 100%;
    background-color: #1f1135;
    position: relative;
    -webkit-box-shadow: 5px 5px 10px 5px #0d0214; 
    box-shadow: 5px 5px 10px 5px #0d0214;
}

.navbutton{
    display: flex;
    border-radius: 1rem;
    width: 3rem;
    height: 3rem;
    margin: auto;
}

.logo{
    display: flexbox;
    width: 15rem;
    height: 4rem;
    position: absolute;
    top: .5rem;
    left: 1rem;
}

.instagram{
    position:absolute;
    top: 1rem;
    right: 1rem;
}
.linkedin{
    position:absolute;
    top: 1rem;
    right: 5rem;
}
.github{
    position:absolute;
    top: 1rem;
    right: 9rem;
}

.welcome{
    margin: 3rem 0rem 0rem 1.75rem;

    font-family: Qualy;
    font-size: 2.25rem;
    background: linear-gradient(180deg, #7EE70F,#1FA819);
    -webkit-background-clip: text;
    background-clip: inset 0 0 6px rgba(0, 0, 0, 0.1); 
    color: transparent; 
}

.bodyTemplate{
    width: 89.3%;
    height: 30rem;
    margin: 2rem auto;

}

.titleTemplate{
    font-family: Qualy;
    font-size: 2.75rem;
    width: 90%;
    height: 3.5rem;
    position: relative;
    top: 5%;
    margin-left: 1.5rem;

    background: linear-gradient(180deg, #7EE70F,#1FA819);
    -webkit-background-clip: text;
    background-clip: inset 0 0 6px rgba(0, 0, 0, 0.1);
    color: transparent;  
}

.contentTemplate{
    font-family: Modern;
    font-size: 1.6rem;
    font-weight: bolder;
    width: 90%;
    height: auto;
    position: relative;
    top: 5.5%;
    margin-left: 1.5rem;

    background: linear-gradient(180deg, #7EE70F,#1FA819);
    -webkit-background-clip: text;
    background-clip: inset 0 0 6px rgba(0, 0, 0, 0.1);
    color: transparent;  
}

.imgTemplate{
    border-radius: .5rem;
    width: 90%;
    height: 15.75rem;
    position: relative;
    top: 12.5%;
    margin-left: 1.5rem;

    border-color: none;
    background-color: #290e3e;
    -webkit-box-shadow: 5px 5px 15px 5px #0d0214; 
    box-shadow: 5px 5px 15px 5px #0e0116;
}

.date{
    position: relative;
    top: 14%;
    margin: auto;
}
.date span{
    font-family: Modern;
    font-size: 1.6rem;
    font-weight: bolder;
    position: absolute;
    right: 10%;

    background: linear-gradient(180deg, #7EE70F,#1FA819);
    -webkit-background-clip: text;
    background-clip: inset 0 0 6px rgba(0, 0, 0, 0.1);
    color: transparent; 
}


@media only screen and (min-width: 600px) {
    .nav{
        height: 6rem;
    }
    
    .navbutton{
        display: flex;
        width: 4rem;
        height: 4rem;
        margin-top: .5rem;
    }
    
    .logo{
        width: 23rem;
        height: 5rem;
        margin-top: .5rem;
    }
    
    .instagram{
        position:absolute;
        right: 2rem;
    }
    .linkedin{
        position:absolute;
        right: 7rem;
    }
    .github{
        position:absolute;
        right: 12rem;
    }

.welcome{
    font-size: 4rem;
    position: relative;
    top: 0rem;
    left: 2rem;
}
.bodyTemplate{
    width: 89.3%;
    height: auto;
    margin: 2rem auto;

}

.titleTemplate{
    font-size: 4rem;
    width: 90%;
    height: auto;
    position: relative;
    top: 5%;
    margin-top: 2rem;
    margin-left: 4.75rem;
}

.contentTemplate{
    font-size: 2.5rem;
    font-weight: bolder;
    width: 85%;
    height: auto;
    margin-top: .7rem;
    margin-left: 4.75rem;
    margin-bottom: 2rem;
    position: relative;
}

.imgTemplate{
    width: 85%;
    height: 25rem;
    position: relative;
    top: 12.5%;
    margin-left: 4.75rem;
}

.date{
    position: relative;
    top: 14%;
    margin: auto;
}
.date span{
    font-size: 2.5rem;
    position: absolute;
    right: 6%;
}
}